.destination-card{
    border: none;
}

.destination-card img{
    height: 300px;
}

.fa-calendar, .fa-users{
    color: #4caef0;
}

h6{
    font-size: 300;
}

.card-footer{
    background-color: white;
}

.colored-text{
    color: #4674E8;
}

.customized-btn{
    background-color: #4674E8;
    padding: 5px 10px;
    border-radius: 5px;
    color: white;
    border:none;
}